a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  color: #000;
}
.logo{
  display: flex;
  height: 85px;
  font-weight: 175px;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.main {
  background: #fff;
  margin-top: 100px;
  padding: 50px 50px;
  height: 600px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main1 {
  margin-top: 100px;
  padding: 20px, 50px;
  margin: 20px, 50px;
  background-color: #fff;
  display: flex;
}

.content {
  background: #fff;
  height: 100%;
  color: #fff;
  width: 80%;
  margin: 50px, 20px;
  padding: 100px;
}

/*=新着=*/
.dl {
  width: 500px;
  height: 200px;
}
.dt {
  border-bottom: 1px solid #ccc;
  float: left;
  padding: 30px 30px;
}
.dd {
  border-bottom: 1px solid #ccc;
  margin-left: 100px;
  padding: 30px 30px;
}

/*会社概要*/
.table {
  width: 60%;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 1px solid #ccc;
  padding: 20px;
}
.table th {
  font-weight: bold;
  background-color: #dedede;
}

.footer {
  background: #fff;
  height: 70px;
  color: #000;
}
