a {
  text-decoration: none;
  color: inherit;
}
/*ヘッダー部分*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  color: #000;
}
.header__logo {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
li a{
  background-color: #fff;
}


/*ヘッダ画像*/
.relative {
  position: relative;
}
.relative__img {
  display: relative;
  width: 50%;
  margin-left: 40%;
}
.absolute {
  display: relative;
  position: absolute;
  font-size: 70px;
  left: 20%;
  top: 10%;
  font-family: "Indie Flower", cursive;
  color: #c71585;
}
.font_test {
  color: #00ced1;
}
.relative p {
  font-size: 25px;
  position: absolute;
  color: #000;
  top: 60%;
  left: 20%;
}
.strong {
  font-size: 25px;
  position: absolute;
  color: #c71585;
  top: 60%;
  left: 20%;
}
/*ヘッダ画像ここまで*/





/*news*/
.about__content__ttl{
font-size:25px;
margin-left:250px;
}
dl{
margin:30px 30px;
padding:30px 30px;
font-size: 20px;
border-top: 1px solid #dcdcdc;
border-bottom: 1px solid #dcdcdc;
}
dt{
border-bottom: 1px solid #dcdcdc;
margin:0px 30px;
padding: 30px 30px;
}
dt a{
background-color: #c71585;
color:#fff;
margin:30px 30px;
padding:10px 10px;
border-radius:5px;
text-decoration:none;
}
dd{
border-bottom: 1px solid #dcdcdc;
margin-left: 100px;
padding: 30px 30px;
margin:0ox 30px;
}
dl:before {
top: 0;
}
dl:after {
content: '';
display: block;
clear: both;
}
/*newsここまで*/

/*Aboutの説明文*/
.about{
  background-color: #dcdcdc;
  padding: 60px 0;
  display: flex;
  justify-content: space-around;
  margin:50px, 50px;
}
.about__img img {
  width: 70%;
}
.about__img {
  width: 40%;
}
.about__content {
  width: 40%;
}
.about__content-ttl{
text-align: center;
background-color: #dcdcdc;
margin:0,auto;
padding:0  0  0  0;
}
.tech{
margin:30px  0 0 0;
padding:0 0 0 0;
}

.title-font{
  font-family: "Indie Flower", cursive;
  color: #c71585;
  font-size:20px;
  margin: 0 0;
  padding:0 0;
}
/*Aboutの説明文*/


/*サービス*/
.grid__parent {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 1fr 1fr;
  padding:0px 30px;
  margin:0px 50px;
  text-align: center;
  line-height: 24px;
  background:#fff;
  color:#fff;
  font-size: 20px;
}
.box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #800055;
  text-align:center;
  padding:30px 30px;
}
.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: #db7093;
}
.box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #996666;
}
.service__content-ttl{
  margin-left:100px;
}
.service__img2 img{
  float:left;
  margin-bottom:100px;
  margin-left:100px;
}
.service__ttl{
  font-size:24px;
  font-weight: bold;
  margin-top:50px;
  margin-left:50px;
}
/*サービスここまで*/



/*ブログカード*/
.blog__content-ttl_{
  padding:30px 30px;
  margin:30px 0 0 0;
}
.flex__item {
  display:flex;
  justify-content:space-around;
}
.practice__card {
width:  30%;
height: 30%;
margin: 20px 20px;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}
.card__img img {
  display:inline-block
  position:relative;
  width:100%;
  border-radius:20px 20px 0 0;
}
.card__content {
padding: 15px 15px;
margin: 20px 20px;
}
.card__ttl {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}
.card__cat {
  display: inline-block;
  position:absolute;
  padding: 15px 15px;
  background: #c71585;
  color: #fff;
  font-size: 20px;
  border-top-left-radius:20px;
}
.tag {
  font-size: 14px;
  text-align: right;
}
.card__tag {
  display: inline-block;
  color: #000;
}
.card__date {
  display: inline-block;
  margin-left: 20px;
  color: #000;
}
/*ブログカードここまで*/


.list__btn {
  display:inline-block;
  width: 200px;
  padding: 20px 0;
  color: #fff;
  border-radius: 30px;
  background: #800055;
  text-align: center;
  box-shadow: 0 5px 0 rgba(255, 0, 0, 0.2);
  margin-top:90% auto 0;
  float:under;
}
/*一覧ボタン*/
.list__btn {
  width: 200px;
  padding: 20px 20px;
  color: #800055;
  border-radius: 30px;
  border: solid 3px #800055;
  background-color: white;
  text-align: center;
  margin:100px auto 0;
  display:block;
}



/*概要*/
.company{
  padding:100px 100px;
  margin:100px 100px;
}
.company__content-ttl{
  margin:50px 0 0 0;
}
table {
  width: 60%;
  left: 30%;
  margin:auto;
  border-collapse: collapse;
  text-align: center;
}
table th,
table td {
  border: 1px solid #dcdcdc;
  padding: 20px;
}
table th {
  font-weight: bold;
  background-color: #dcdcdc;
}
/*概要ここまで*/




/*画像２つリンク*/
.link{
display:flex;
padding:100px  100px;
top:50%;
left:35%;
}
.recruit {
  position:relative;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  top:50%;
  left:35%;
}
.absolute1{
  position:absolute;
  color:#fff;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  top:40%;
  left:35%;
  font-size:40px;
}

.interview{
  position:relative;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  top:50%;
  left:35%;
}
.absolute2{
  position:absolute;
  display:flex;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  top:40%;
  left:35%;
  color:#fff;
  font-size:40px;
}
/*CVボタン*/


.cv{
  display:flex;
  justify-content: center;
  font-size: 18px;
  padding:30px;
  color: #808080;
  font-weight: bold ;
}

.v_line_fix {
  margin:0 auto;
  width: 2px;
  height: 40px;
  background-color: #c71585;
}

.cv_btn {
  position: relative;
  background-color: #c71585;
  width: 200px;
  display: block;
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  margin: 50px auto;
}

.cv_btn::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 15px;
  background: #c71585
  background-size: cover;
  width: 20px;
  height: 20px;
  paddin
  transform: translate(0, -50%);
}





footer {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 50px 0;
  background-color: #dcdcdc;
}
.footer-text {
  color: #000;
}

/*フッター*/



